<p>
  This workshop series includes topics such as Unix Shell, Git/GitHub, Intro to Machine Learning, Intro to Docker, Data Visualization in Python, and Intro to Julia. 
  Each workshop can be registered separately and has their own pre-requisites.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
