<table style="width:100%">
  <tr>
    <th>Date</th>
    <th>Workshop</th>
    <th>PreRequisites</th>
    <th>Etherpad</th>
  </tr>
  <tr>
    <td>September 7th</td>
    <td><a href = "https://swcarpentry.github.io/shell-novice/">Unix Shell</a></td>
    <td>NA</td>
    <td><a href = "https://pad.carpentries.org/2022-09-07-uwmadison-mini">Etherpad</a></td>
  </tr>
  <tr>
    <td>September 28th</td>
    <td><a href = "https://carpentries-incubator.github.io/git-novice-branch-pr/">Git/GitHub</a></td>
    <td>For this workshop, you need to be familiar with all of the commands taught in <a href = "http://swcarpentry.github.io/shell-novice/">this Unix Shell lesson</a></td>
    <td><a href = "https://pad.carpentries.org/2022-09-28-uwmadison-mini">Etherpad</a></td>
  </tr>
  <tr>
    <td>October 26-27th</td>
    <td><a href = "https://carpentries-incubator.github.io/machine-learning-novice-sklearn/">Intro to Machine Learning with Sklearn</a></td>
    <td>For this workshop, you need to have a basic familiarity with python</td>
    <td><a href = "https://pad.carpentries.org/2022-10-26-uwmadison-mini">Etherpad</a></td>
  </tr>
  <tr>
    <td>November 16-17th</td>
    <td><a href = "https://carpentries-incubator.github.io/docker-introduction/">Intro to Docker</a></td>
    <td>For this workshop, you need to have a base familiarity with using a command shell and the text editor</td>
    <td><a href = "https://pad.carpentries.org/2022-11-16-uwmadison-mini">Etherpad</a></td>
  </tr>
  <tr>
    <td>November 30th</td>
    <td><a href = "https://carpentries-incubator.github.io/python-interactive-data-visualizations/">Interactive Data Visualizations in Python</a></td>
    <td>For this workshop, you need to have a base familiarity with <a href = "http://swcarpentry.github.io/python-novice-gapminder/">python</a>, the unix shell, and github</td>
    <td><a href = "https://pad.carpentries.org/2022-11-30-uwmadison-mini">Etherpad</a></td>
  </tr>
    <tr>
    <td>December 14th</td>
    <td><a href = "https://carpentries-incubator.github.io/julia-novice/">Intro to Julia</a></td>
    <td>For this workshop, you need to have a base familiarity with files, directories, arrays, and indices</td>
    <td><a href = "https://pad.carpentries.org/2022-12-14-uwmadison-mini">Etherpad</a></td>
  </tr>
</table>
