<table style="width:100%">
  <tr>
    <th>Date</th>
    <th>Workshop</th>
    <th>Setup Items</th>
  </tr>
  <tr>
    <td>September 7th</td>
    <td>Unix Shell</td>
    <td><a href = "https://swcarpentry.github.io/shell-novice/setup.html">Setup Instructions here</a></td>
  </tr>
  <tr>
    <td>September 28th</td>
    <td>Git/GitHub</td>
    <td> <a href = "https://carpentries-incubator.github.io/git-novice-branch-pr/setup/">Setup Instructions here</a></td>
  </tr>
  <tr>
    <td>October 26-27th</td>
    <td>Intro to Machine Learning with sklearn</td>
    <td><a href = "https://carpentries-incubator.github.io/machine-learning-novice-sklearn/setup.html">Setup Instructions here</a></td>
  </tr>
  <tr>
    <td>November 16-17th</td>
    <td>Intro to Docker</td>
    <td><a href = "https://carpentries-incubator.github.io/docker-introduction/setup.html">Setup Instructions here</a></td>
  </tr>
  <tr>
    <td>November 30th</td>
    <td>Interactive Data Visualizations in Python</td>
    <td><a href= "https://carpentries-incubator.github.io/python-interactive-data-visualizations/setup.html">Setup Instructions here</a></td>
  </tr>
  <tr>
    <td>December 14th</td>
    <td>Intro to Julia</td>
    <td><a href= "https://carpentries-incubator.github.io/julia-novice/setup.html">Setup Instructions here</a></td>
  </tr>
</table>





